*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgba(220, 220, 220, 0.411);
}
header{
    position:sticky;
    top: 0;
    box-shadow: 1px 2px 10px gainsboro;
    z-index: 1;
}
.container,ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* color: white; */
    background-color: white;
    width: 100%;
    height: 12vh;
    z-index: 1;
}
.card img:hover{
    transform: scale(1.1);
}
.logo{
    margin-left: 4vw;
}
.logo img{
    width: 80px;
    height: 80px;
}
.container input{
    padding: 5px;
    width: clamp(50px,50vw,400px);
    border: none;
    border-radius: 10px;
    background-color: gainsboro;
}
ul{
    gap: 5vw;
    list-style: none;
}
ul a{
    text-decoration: none;
    color: black;
}
.banner{
    width: 98%;
    margin: 10px auto;
    height: 500px;
}
.banner img{
    width: 100%;
    height: 100%;
}
.products{
    /* border: 1px solid; */
    margin: 10px auto;
    width: 98%;
}
.cards{
    display: flex;
    /* border: 1px solid; */
    flex-wrap: wrap;
    background-color: white;
}
.card{
    flex: 1;
    /* border-radius: ; */
    min-height: 250px;
    margin: 10px;
    padding: 15px;
    border: 1px solid;
    /* box-shadow: 1px 2px 10px; */
}
.cardImg{
    display: flex;
    justify-content: center;
    padding: 10px;
}
.cardImg img{
    width: 150px;
    height: 150px;
}
.grip-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    flex: 1;
    margin: 15px;
    background-color: white;
    padding: 15px;

}
.card3{
    grid-row: 2/3;
    grid-column: 1/3;
    border: 1px solid;
    width: 98%;
    border: none;
    margin: 0 auto;
}
.card3 img{
    width: 100%;
    height:300px;
}
.grid-prod{
    display: flex;
    flex-wrap: wrap;
    /* background-color: white; */
}
#about{
    padding: 50px;
    margin: 0 auto;
    background-color: black;
    width: 100%;
    color: white;
    box-sizing: border-box;
}
#about div{
    width: 100%;
}
.last{
    width: 60%;
    margin: 10px auto;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
}
.banner2{
    width: 98%;
    margin: 10px auto;
    height: 300px;
}
.banner2 img{
    width: 100%;
    height: 100%;
}