#nav{
    background-color: black;
    padding: 5px;
    color: white;
    display: flex;
    align-items: center;
    height: 30px;
}
#nav #bankai{
    display: flex;
    gap: 50px;
    list-style: none;
}
#bankai ul{
    list-style: none;
    display: none;
}
#ankai ul li:hover li{
    
}