@media only screen and (max-width:640px){
    body{
        background-color: aqua;
    }
    .container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
body{
    margin: 0;
    padding: 0;
}
div{
    border: solid;
    width: 80%;
    height: 100%;
    box-sizing: border-box;

}
.container{
    height: 50vh;
    width: 90vw;
    box-sizing: border-box;
    margin: 0 auto;
    display: flex;

}