.container{
    height: 200px;
    display: flex;
    border: 2px solid blue;
    align-items: center;
}
.box{
    margin: 5px;
    padding: 20px;
    background-color: lightblue;
}
.box2{
    align-self: flex-start;
    background-color: coral;
}
.box3{
    align-self: flex-end;
    background-color: lightgreen;
}