.container{
    display: flex;
    width: 300px;
    border: 2px solid #c3c3c3;
}
.box{
flex-basis: 150px;
flex-shrink: 1;
background-color: lightblue;
margin: 5px;
text-align: center;
padding: 10px;
}
.box2{
    flex-shrink: 2;
    background-color: green;
}