h1{
    text-shadow: 2px 2px 5px gray;
    font-family: mynew;
    color: blue;
}
h2{
    text-shadow: -2px 3px 6px #ff0000;
    font-size: 50px;
}
p{
text-shadow: 1px 1px 2px rgba(0,0,0,0.4);
font-size: 24px;
}
h3{
    text-shadow: 2px 2px 4px red ,-2px -2px 4px blue;
}
@font-face{
    font-family: "skfonts";
    src: url(fonts/BergstenaDecorated_PERSONAL_USE_ONLY.otf) format("truetype");
}
@font-face{
    font-family: mynew;
    src: url(fonts/PlazapersonaluseBold-d91XR.otf);
}
body{
    font-family: skfonts;
}